.landingPage {
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  background: white;
}

h2 {
  margin: 0px;
}

.productList {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  justify-content: space-evenly;
}

.product {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  color: black;
  font-weight: bold;
  width: 140px;
  height: 120px;
}
.product:hover {
  background: #2196f3;
  color: white;
}
